name: Build and test

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gradle/wrapper-validation-action@v1
      - uses: actions/setup-java@v1
        with:
          java-version: 8
      - name: Check
        run: ./gradlew check