name: Build and test

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gradle/wrapper-validation-action@v2
      - uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "11"
      - name: Check
        run: ./gradlew check
